/* Base Styles */
.page {
  font-family: Arial, sans-serif;
  padding: 20px;
  min-height: 100vh;
}

.header {
  background-color: #0070f3;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.content {
  margin-top: 20px;
  background: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form input,
.form textarea {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: gold;
  font-size: 14px;
}

.addButton, .cancelButton, .addDoctorButton, .deleteButton, .themeButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover, .cancelButton:hover, .addDoctorButton:hover, .deleteButton:hover, .themeButton:hover {
  background-color: #005bb5;
}

/* Filter section */
.filterSection input {
  margin-right: 10px;
  padding: 8px;
  border-radius: 4px;
  border-color: gold;
}

/* Dark and Light theme */
.light {
  background-color: #f4f4f4;
  color: #333;
}

.dark {
  background-color: #333;
  color: white;
}

/* For light theme */
.light .header,
.light .content,
.light .doctorCard,
.light .form input,
.light .form textarea {
  color: #333; /* Dark text for light theme */
}

/* For dark theme */
.dark .header,
.dark .content,
.dark .doctorCard,
.dark .form input,
.dark .form textarea {
  color: white; /* White text for dark theme */
}

/* Doctor Card Background Color */
.light .doctorCard {
  background: #ffffff; /* Light background for light theme */
}

.dark .doctorCard {
  background: #444; /* Dark background for dark theme */
  border: 1px solid gold; /* Adjust border color for dark theme */
}

/* Theme Button */
.themeButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.themeButton:hover {
  background-color: #218838;
}

/* Doctor Cards */
.doctorCard {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

.doctorCard:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.doctorSummary {
  display: flex;
  justify-content: space-between;
}

.doctorDetails {
  display: none;
}

.doctorCard:hover .doctorDetails {
  display: block;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 16px;
}

.deleteButton:hover {
  color: darkred;
}
